/Bin
/Adan.Client/obj/
/Adan.Client.Common/obj/
/Adan.Client.Plugins.GroupWidget/obj/
/Adan.Client.Map/obj/
/Adan.Client.Plugins.OutputWindow/obj/
/Adan.Client.Plugins.Statistics/obj/
/Adan.Client.Plugins.StuffDatabase/obj/
/Adan.Client.Plugins.Ticker/obj/
/packages/
/.vs/
/*.user
/Adan.Client.Setup/Debug/
/Adan.Client.Setup/Release/
/Adan.Client.Plugins.AI
