<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adan.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Adan.Client.Properties.Settings>
            <setting name="MainOutputWindowSecondaryScrollHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConnectHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ConnectPort" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="AutoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoClearInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinLengthHistory" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CommandChar" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="CommandDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="HistoryCursorPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScrollBuffer" serializeAs="String">
                <value>500</value>
            </setting>
        </Adan.Client.Properties.Settings>
    </userSettings>
</configuration>