<?xml version="1.0" encoding="utf-8"?>
<ArrayOfGroup xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Group Name="Default" IsEnabled="true" IsBuildIn="true">
    <Triggers>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="Аккaунт [%1] Персонаж [%2]">
        <Actions>
          <ActionBase xsi:type="SetVariableValueAction" VariableName="Char">
            <ValueToSet xsi:type="TriggerOrCommandParameter" ParameterNumber="2" />
          </ActionBase>
        </Actions>
      </TriggerBase>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="^Приветствуем вас на бескрайних просторах мира чудес и приключений!">
        <Actions>
          <ActionBase xsi:type="StartLogAction">
            <LogNameParameter xsi:type="MathExpressionParameter" Operation="Plus">
              <FirstOperand xsi:type="VariableReferenceParameter" VariableName="Char" />
              <SecondOperand xsi:type="MathExpressionParameter" Operation="Plus">
                <FirstOperand xsi:type="ConstantStringParameter" ConstantString="-" />
                <SecondOperand xsi:type="VariableReferenceParameter" VariableName="DATE" />
              </SecondOperand>
            </LogNameParameter>
          </ActionBase>
        </Actions>
      </TriggerBase>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="^    5. WIN (JMC, WIN TELNET, ...)">
        <Actions>
          <ActionBase xsi:type="StopLogAction" />
        </Actions>
      </TriggerBase>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="^0) Выход из AdamantAdan-MUDа.">
        <Actions>
          <ActionBase xsi:type="StopLogAction" />
        </Actions>
      </TriggerBase>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="^Там было %1 монет.">
        <Actions>
          <ActionBase xsi:type="SendTextAction" CommandText="разделить %1 монет">
            <Parameters />
          </ActionBase>
        </Actions>
      </TriggerBase>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="^%1 сказал%2: %3">
        <Actions>
          <ActionBase xsi:type="OutputToAdditionalWindowAction" TextToOutput="" TextColor="None" BackgroundColor="None" OutputEntireMessageKeepingColors="true">
            <Parameters />
          </ActionBase>
        </Actions>
      </TriggerBase>
      <TriggerBase xsi:type="TextTrigger" Priority="5" StopProcessingTriggersAfterThis="true" DoNotDisplayOriginalMessage="false" MatchingPattern="^[ООС] %1:%2">
        <Actions>
          <ActionBase xsi:type="OutputToAdditionalWindowAction" TextToOutput="" TextColor="None" BackgroundColor="None" OutputEntireMessageKeepingColors="true">
            <Parameters />
          </ActionBase>
        </Actions>
      </TriggerBase>
    </Triggers>
    <Aliases>
      <CommandAlias Command="благо">
        <Actions>
          <ActionBase xsi:type="SendTextAction" CommandText="колд !благо!">
            <Parameters>
              <ActionParameterBase xsi:type="SelectedGroupMateParameter" />
            </Parameters>
          </ActionBase>
        </Actions>
      </CommandAlias>
      <CommandAlias Command="баш">
        <Actions>
          <ActionBase xsi:type="SendTextAction" CommandText="сб ">
            <Parameters>
              <ActionParameterBase xsi:type="SelectedMonsterParameter" />
            </Parameters>
          </ActionBase>
        </Actions>
      </CommandAlias>
    </Aliases>
    <Hotkeys>
      <Hotkey Key="NumPad5" ModifierKeys="None">
        <Actions>
          <ActionBase xsi:type="SendTextAction" CommandText="огл">
            <Parameters />
          </ActionBase>
        </Actions>
      </Hotkey>
    </Hotkeys>
    <Highlights>
      <Highlight BackgroundColor="None" TextColor="Red" TextToHighlight="[E]" />
      <Highlight BackgroundColor="None" TextColor="BrightGreen" TextToHighlight="[F]" />
      <Highlight BackgroundColor="None" TextColor="BrightGreen" TextToHighlight="^Вы чувствуете здесь покой и умиротворенность." />
      <Highlight BackgroundColor="BrightBlue" TextColor="BrightRed" TextToHighlight="^%1 начал превращаться в каменную статую." />
    </Highlights>
    <Substitutions />
  </Group>
  <Group Name="ActionHighLights" IsEnabled="true" IsBuildIn="false">
    <Triggers />
    <Aliases />
    <Hotkeys />
    <Highlights>
      <Highlight BackgroundColor="None" TextColor="BrightBlack" TextToHighlight="%1 ---&gt; СЛЕПОТА." />
      <Highlight BackgroundColor="None" TextColor="Red" TextToHighlight="%1 ПЫТАЕТСЯ АГГРИТЬ %3!!!" />
      <Highlight BackgroundColor="None" TextColor="BrightBlack" TextToHighlight="%1 ---&gt; МОЛЧАНИЕ." />
    </Highlights>
    <Substitutions>
      <Substitution Pattern="%1 попытал%2 напасть на %3, но у н%4 ничего не вышло." SubstituteWith="%1 ПЫТАЕТСЯ АГГРИТЬ %3!!!" />
      <Substitution Pattern="%1 ослеп%2!" SubstituteWith="%1 ---&gt; СЛЕПОТА." />
      <Substitution Pattern="%1 потерял%2 способность разговаривать." SubstituteWith="%1 ---&gt; МОЛЧАНИЕ." />
    </Substitutions>
  </Group>
</ArrayOfGroup>