<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Adan.Client.Map.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Adan.Client.Map.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Adan.Client.Map.Properties.Settings>
            <setting name="LastMapsUpdateDate" serializeAs="String">
                <value>1945-05-09</value>
            </setting>
            <setting name="MapZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
        </Adan.Client.Map.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Adan.Client.Map.Properties.Settings>
            <setting name="MapsUrl" serializeAs="String">
                <value>http://adan.ru/files/Maps.zip</value>
            </setting>
        </Adan.Client.Map.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
