<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Adan.Client.Plugins.GroupWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Adan.Client.Plugins.GroupWidget.Properties.Settings>
      <setting name="GroupWidgetAffects" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Flight</string>
            <string>Protection</string>
            <string>Poison</string>
            <string>Blessing</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MonsterAffects" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Blessing</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MonsterDisplayNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MonsterDisplayAffectsCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GroupWidgetDisplayNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GroupWidgetDisplayAffectsCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GroupWidgetDisplayMemTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMonsterLimitOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MonsterLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GroupWidgetLimitOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupWidgetLimit" serializeAs="String">
        <value>10</value>
      </setting>
    </Adan.Client.Plugins.GroupWidget.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
